.background-image-1 {
  position: fixed;
  opacity: 0.2;
}

.background-image-2 {
  position: fixed;
  opacity: 0.1;
}

.background-image-3 {
  position: fixed;
  opacity: 0.15;
}

.background-image-4 {
  position: fixed;
  opacity: 0.4;
}
