@font-face {
  font-family: 'superstar';
  src: local('superstar'), url('./fonts/superstar.ttf') format('truetype');
}

@font-face {
  font-family: 'TOMMY';
  src: local('TOMMY'), url('./fonts/tommy.otf') format('opentype');
}

@font-face {
  font-family: 'TOMMY-L';
  src: local('TOMMY-L'), url('./fonts/tommy-l.otf') format('opentype');
}

@font-face {
  font-family: 'TOMMY-R';
  src: local('TOMMY-R'), url('./fonts/tommy-r.otf') format('opentype');
}

@font-face {
  font-family: 'TOMMY-O';
  src: local('TOMMY-O'), url('./fonts/tommy-o.otf') format('opentype');
}

.MuiTypography-h4 {
  font-size: 2.425rem !important;
}

.MuiTypography-h5 {
  font-size: 1.35rem !important;
}

.MuiTypography-h6 {
  font-size: 1.05rem !important;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4 {
  font-family: 'superstar' !important;
}

.MuiTypography-h5,
.MuiTypography-h6,
.MuiAlert-root,
.MuiTypography-body1 {
  font-family: 'TOMMY-R' !important;
}

body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'TOMMY-R', sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

/* .makeStyles-paper-11, */
/* .makeStyles-paper-11 h2, */
/* .MuiTypography-body1,
.MuiPaper-root, */
h2 {
  color: #ccf;
  font-size: 2.5em;
}

body {
  font-size: 1em;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'TOMMY', 'monospace';
  text-transform: uppercase;
  color: #fff;
}

.MuiToolbar-regular {
  color: #000;
}

.MuiSvgIcon-root:hover,
.MuiTypography-root:hover,
.MuiListItemIcon-root:hover {
  transform: scale(1.1);
}

.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: #fff !important;
}
.MuiButton-containedPrimary {
  background: #930993 !important;
}

.tvl {
  font-size: 2.5rem;
}

.background-blur {
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  left: 0%;
  right: 0%;
  max-width: 100%;
}

.wallet-token-value {
  color:#e646e6;
}

.wallet-token-balance {
  font-size: 1.4rem;
}
@media screen and (max-width: 1300px) {
  .wallet-token-balance {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1150px) {
  .wallet-token-balance {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 660px) {
  .tvl {
    font-size: 4rem;
  }
}

@media screen and (max-width: 482px) {
  .tvl {
    font-size: 3.5rem;
  }
  .wallet-token-balance {
    font-size: 0.8rem;
  }

  .MuiTypography-h4 {
    font-size: 1.925rem !important;
  }

  .MuiTypography-h5 {
    font-size: 1.15rem !important;
  }
}

@media screen and (max-width: 430px) {
  .tvl {
    font-size: 3rem;
  }
  .wallet-token-balance {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 376px) {
  .tvl {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 359px) {
  .tvl {
    font-size: 1rem;
  }
}

.MuiButton-containedPrimary:hover {
  background: #d19aff !important;
}

code {
  font-family: 'TOMMY', monospace;
}

.menu-item {
  border-bottom: 0 !important;
  color: white !important;
  fill: white !important;
  margin-left: 0 !important;
  text-decoration: none !important;
  transition: padding-left 200ms;
}

.menu-item:hover {
  font-weight: bold !important;
}

.price-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.price-item {
  padding: 7px;
}

.price-item img {
  vertical-align: middle;
}

.token-price {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.wallet-button {
  color: #fff;
  font-family: 'monospace', sans-serif !important;
  font-size: 1.2rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
}
.wallet-button:hover {
  color: #930993 !important;
}

.navLink {
  color: #fff !important;
}

.navLink:hover {
  color: #ccf !important;
}

.shinyButton {
  font-family: 'TOMMY-R' !important;
  padding: 7px !important;
  background: rgb(147, 9, 147);
  background-image: linear-gradient(150deg, #930993, #781278 50%, #e647e6);
  font-size: 1rem !important;
  color: #fff !important;
  border-radius: 5px !important;
} 

.shinyButton:hover {
  background-image: linear-gradient(150deg, #930993, #781278 45%, #c43cc4);
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
.full-width {
  width: 100% !important;
}

.burning-grape {
  width: 70px;
  height: 70px;
}

.welcome-text {
  font-size: 3.8rem;
  font-family: 'superstar';
  /* text-shadow: 0 0 1vw #6e256c, 0 0 3vw #6e256c, 0 0 20vw #6e256c, 0 0 10vw #6e256c, 0 0 0.4vw #e647e6,
    0vw 0vw 0vw #5b2959 !important; */
  color: #fff !important;
  overflow: visible !important;
}

.front-text-tvl {
  font-family: 'TOMMY';
  font-size: 9rem;
  /* text-shadow: 0 0 1vw #6e256c, 0 0 3vw #6e256c, 0 0 20vw #6e256c, 0 0 10vw #6e256c, 0 0 0.4vw #e647e6, */
    /* 0vw 0vw 0vw #5b2959; */
  color: #e647e6;
  overflow: visible;
}

.front-text-top {
  font-size: 2.5rem;
  font-family: 'TOMMY-R';
  /* text-shadow: 0 0 2vw #fff, 0 0 3vw #ffd, 0 0 20vw #ffa, 0 0 10vw #ffe, 0 0 0.4vw #e647e6, 0vw 0vw 0vw #ffc; */
  color: #fff;
}

@media screen and (max-width: 1488px) {
  .front-text-tvl {
    font-size: 8rem;
  }
  .front-text-top {
    font-size: 2.2rem;
  }
  .welcome-text {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 1080px) {
  .front-text-tvl {
    font-size: 7rem;
  }

  .front-text-top {
    font-size: 2rem;
  }
  .welcome-text {
    font-size: 2.7rem;
  }
  .burning-grape {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 900px) {
  .front-text-tvl {
    font-size: 6rem;
  }

  .front-text-top {
    font-size: 1.8rem;
  }
  .welcome-text {
    font-size: 2.5rem;
  }
  .burning-grape {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 720px) {
  .front-text-tvl {
    font-size: 5rem;
  }

  .front-text-top {
    font-size: 1.6rem;
  }
  .welcome-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 550px) {
  .front-text-tvl {
    font-size: 3.8rem;
  }
  .front-text-top {
    font-size: 1.4rem;
  }
  .welcome-text {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 430px) {
  .front-text-tvl {
    font-size: 3.3rem;
  }

  .front-text-top {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 399px) {
  .front-text-tvl {
    font-size: 3.2rem;
  }

  .front-text-top {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 359px) {
  .front-text-tvl {
    font-size: 2.8rem;
  }

  .front-text-top {
    font-size: 1.1rem;
  }
}

@keyframes golden-background {
  0% {
    background-image: linear-gradient(to right bottom, #ffd700, #f5ca0a, #eabc12, #dfb016, #d4a31a);
  }
  25% {
    background-image: linear-gradient(to right bottom, #d4a31a, #ffd700, #f5ca0a, #eabc12, #dfb016);
  }
  50% {
    background-image: linear-gradient(to right bottom, #dfb016, #d4a31a, #ffd700, #f5ca0a, #eabc12);
  }
  75% {
    background-image: linear-gradient(to right bottom, #eabc12, #dfb016, #d4a31a, #ffd700, #f5ca0a);
  }
  100% {
    background-image: linear-gradient(to right bottom, #f5ca0a, #eabc12, #dfb016, #d4a31a, #ffd700);
  }
}

@keyframes winepress-background {
  0% {
    background-image: linear-gradient(to right top, #ab17ab, #b91ab9, #c51dc5, #cd1ecd, #db21db);
  }
  25% {
    background-image: linear-gradient(to right top, #db21db, #ab17ab, #b91ab9, #cd1ecd, #cd1ecd);
  }
  50% {
    background-image: linear-gradient(to right top, #cd1ecd, #db21db, #ab17ab, #b91ab9, #db21db);
  }
  75% {
    background-image: linear-gradient(to right top, #b91ab9, #cd1ecd, #db21db, #ab17ab, #db21db);
  }
  100% {
    background-image: linear-gradient(to right top, #ab17ab, #b91ab9, #cd1ecd, #db21db, #ab17ab);
  }
}

.golden {
  color: white !important;
  transform: scale(1);
  background-image: linear-gradient(to right bottom, #ffd700, #f5ca0a, #eabc12, #dfb016, #d4a31a);
}

.mintvintners {
  color: white !important;
  background-image: linear-gradient(to right top, #16e89f, #1ac534, #00ffa3);
}

.winemaker {
  color: white !important;
  background-image: linear-gradient(to left bottom, #018e39, #1ac55e);
}

.winepress {
  color: white !important;
  background-image: linear-gradient(to right top, #810e81, #d01fd0);
}

.get-started {
  animation: winepress-background 1s linear infinite;
}

.pegcampaign {
  color: white !important;
  background-image: linear-gradient(to left top, #1ec38f, #1d8e6a);
}

.shinyButtonDisabled {
  color: #555 !important;
  padding: 7px !important;
  background-color: #641d64 !important;
  font-size: 1rem !important;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1);
}

.action-button {
  font-size: 0.5rem !important;
  color: white !important;
  font-family: 'TOMMY-R' !important;
  padding: 2px 7px 2px 7px !important;
  background-color: #c61fc6 !important;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1);
  border: 0 !important;
}
.apr-calc {
  background-color: rgba(155, 155, 155, 0.5) !important;
}

.info-card-price {
  font-size: 16px;
  font-weight: 700;
  color: #fff !important;
}

.card-info-value {
  color: #fff !important;
}

.grey-text {
  color: #929292 !important;
}

.info-card-ratio {
  font-weight: 700;
}

.card-info-text {
  color: #ddd;
}

/*
#930993 light
#72046D dark
#322f32 black/grey
#FFD2D1 background highlight
#D19AFF background
*/

.account {
  display: flex;
  align-items: center;
}

.account > img,
.account > div {
  margin-right: 8px;
}

.shinyButtonDisabledSecondary {
  border-radius: 15px;
  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.navTokenPrice {
  padding-top: 5px;
  padding-right: 15px;
  color: #fff;
}

.navTokenIcon {
  height: 30px !important;
  width: 30px !important;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

.MuiPaper-root {
  color: rgb(235, 235, 235) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

body,
html,
.MuiPaper-root {
  -ms-overflow-style: none !important; /* for Internet Explorer, Edge */
  scrollbar-width: none !important; /* for Firefox */
  overflow-y: scroll !important;
}

.MuiPaper-root::-webkit-scrollbar {
  display: none !important; /* for Chrome, Safari, and Opera */
}
body::-webkit-scrollbar {
  display: none !important; /* for Chrome, Safari, and Opera */
}

html::-webkit-scrollbar {
  display: none !important; /* for Chrome, Safari, and Opera */
}

.MuiAppBar-positionSticky {
  position: relative !important;
}
.ijwpow {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.walletconnecttitle {
  color: #fff;
}
.walletconnecttitle:hover {
  color: #930993;
}
.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border-radius: 10px;
  color: #ccf;
}

.dropdown:hover .dropdown-content {
  display: block;
}
